.sign-in {
    display: flex;
    flex-direction: column;
    width: 30vw;

    .title {
        font-size: 25px;
    }

    .info {
        font-weight: 600;
        font-size: 17px;
    }

    .form {
        margin: 50px 0;
    }

    .labe {
        font-size: 19px;
        margin: 20px 0;
    }

    .btn-blue {
        width: 100%;
        margin-bottom: 20px;
        font-family: "Roboto";
        font-size: 18px;
        letter-spacing: 2px;
        height: 60px;
        border: none;
        background-color: rgb(25, 49, 114);
        color: white;
        transition: all 0.3s ease-in;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}