.checkout-products {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(221, 221, 221);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .product-img {
      width: 100px;
      height: 100px;

      .img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .description,
    .price,
    .quantity {
      max-width: 50%;
      color: #5c5a5a;
      font-size: 15px;
      padding: 10px;
      line-height: 150%;
    }

    .quantity {
      display: flex;
      align-items: center;
      font-size: 25px;

      .arrow {
        cursor: pointer;
        padding: 5px;
        color: green;
      }
    }
  }
}
