.menu-item {
    cursor: pointer;
    overflow: hidden;
    min-width: 30%;
    height: 380px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 5px 10px;

    &:hover {
        & .background-image {
            transform: scale(1.1);
            transition: 6s ease-in-out;
        }

        & .content {
            opacity: 0.9;
            transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }

    &.large {
        height: 550px;
    }

    .background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
}

.content {
    position: absolute;
    height: 100px;
    padding: 0 25px;
    background-color: whitesmoke;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

    .title {
        letter-spacing: 5px;
        margin-bottom: 10px;
        font-size: 22px;
    }

    .subtitle {
        font-weight: bold;
        font-size: 16px;
    }
}