.main-container {
  .left-wrapper {
    height: 100%;
    min-width: 20%;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 8px;
    margin-top: 50px;

    ul li {
      margin: 20px;
    }

    .ant-menu-submenu-title {
      padding: 0 !important;
    }

    .filter-text {
      font-size: 22px;
      color: #5f5d5d;
      margin: 20px;
    }

    .producents {
      padding: 0 20px;
      border: 1px solid rgb(238, 238, 238);

      .producent-text {
        letter-spacing: 1px;
        font-size: 14px;
        color: black;
        font-weight: 600;
      }

      .single-prod {
        display: flex;
        margin: 20px 0;

        input[type="checkbox"] {
          cursor: pointer;
          display: block;
          height: 18px;
          width: 20px;
          margin: 0;
          padding: 0;
        }

        span {
          color: #5f5d5d;
          font-weight: lighter;
          display: block;
          margin: 0 10px;
          font-size: 15px;
          letter-spacing: 1px;
        }
      }
    }

    .price {
      padding: 0 20px;

      .price-text {
        letter-spacing: 1px;
        font-size: 14px;
        color: black;
        font-weight: 600;
      }

      .wrapper-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;

        .minus {
          font-size: 25px;
          color: #5f5d5d;
        }

        .price-input {
          cursor: pointer;
          width: 90px;
          height: 20px;
          border-radius: 300px;
          color: rgb(49, 45, 45);
          border: 1px solid rgb(167, 162, 162);
          padding: 10px;
          text-align: center;
        }
      }
    }
  }

  .wrapper-shop {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 50px auto 0 auto;

    .right-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .pagination-wrapper {
      display: flex;
      max-width: 100%;
      justify-content: center;

      .ant-pagination {
        display: flex;
        align-items: center;
        list-style: none;
        width: 200px;
        justify-content: space-between;
        padding: 0;
        margin: 80px 0;

        li {
          display: flex;
          align-items: center;

          &:focus {
            border: none;
            outline: none;
          }
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            text-align: center;
            border-radius: 50%;
            font-size: 20px;
            cursor: pointer;
            border: 2px solid darkgray;
            transition: all ease-in 1s;

            &:hover {
              border: 2px solid yellowgreen;
            }
          }

          button.ant-pagination-item-link {
            display: flex;
            align-items: center;
            height: 30px;
            background-color: palegoldenrod;
            border-radius: 8px;
            border: none;
            outline: none;
          }
        }
      }
    }
  }
}
